@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
/* Primary Text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%); 
  --Soft-red: hsl(14, 88%, 65%);
/* Gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
/* Neutral Text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
/* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 150px auto;
  background-color: white;
  border-radius: 20px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.image-container {
  height: 170px;
  margin-top: -45%;
}

.image-container,
.image-container-shadow {
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.image-container-shadow {
  height: 100px;
  margin-top: -30%;
}

.main-container {
  width: 90%;
  height: 80%;
  margin-top: 5%;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.questions {
  cursor: pointer;
  color: var(--Dark-grayish-blue);
}

.questions:hover {
  color: var(--Soft-red);
}

.hidden-answer {
  display: none;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--Dark-grayish-blue);
  font-size: 12px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.arrow-down-icon {
  width: 10px;
  height: 7px;
  background-image: url(./images/icon-arrow-down.svg);
  cursor: pointer;
}

.incomplete-hr {
  width: 90%;
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 350px;
    display: flex;
    flex-direction: column;
  }

  .image-container {
    background-image: url(./images/illustration-woman-online-mobile.svg);
  }

  .image-container-shadow  {
    background-image: url(./images/bg-pattern-mobile.svg);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  
  .top-container {
    width: 90%;
    position: relative;
  }

  .image-container {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    height: 190px;
    margin-top: 0;
    transform-origin: right;
    transform: scaleX(1.2);
    overflow: hidden;
  }

  .image-container-shadow {
    background-image: url(./images/bg-pattern-desktop.svg);
    transform-origin: right;
    transform: scaleX(1.2);
  }

  .image-container-box {
    background-image: url(./images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 120px;
    position: absolute;
    top: 30px;
    left: -80px;
  }

  .main-container {
    width: 110%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  
  .top-container {
    width: 90%;
    position: relative;
    margin-left: -20px;
  }

  .image-container {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    height: 250px;
    margin-top: 0;
    overflow: hidden;
  }

  .image-container-shadow {
    background-image: url(./images/bg-pattern-desktop.svg);
    top: 150px;
  }

  .image-container-box {
    background-image: url(./images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 124px;
    position: absolute;
    top: 80px;
    left: -90px;
  }

  .main-container {
    width: 110%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  
  .top-container {
    width: 100%;
    position: relative;
    margin-left: -20px;
  }

  .image-container {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    width: 280px;
    margin-top: 0;
    overflow: hidden;
  }

  .image-container-shadow {
    background-image: url(./images/bg-pattern-desktop.svg);
    top: 150px;
  }

  .image-container-box {
    background-image: url(./images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 124px;
    position: absolute;
    top: 80px;
    left: -90px;
  }

  .main-container {
    width: 110%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 70%;
    display: flex;
    flex-direction: row;
  }
  
  .top-container {
    width: 90%;
    position: relative;
    margin-left: -100px;
  }

  .image-container {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    width: 280px;
    margin-top: 0;
    overflow: hidden;
  }

  .image-container-shadow {
    background-image: url(./images/bg-pattern-desktop.svg);
    top: 150px;
  }

  .image-container-box {
    background-image: url(./images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 124px;
    position: absolute;
    top: 70px;
    left: 0px;
  }

  .main-container {
    width: 110%;
  }

  h1 {
    text-align: start;
  }
}

